In [1]:
import pandas as pd
import numpy as np

df_orders = pd.read_csv('data/out_default_orders_clean.csv', sep=";", header=0)
df_articles = pd.read_csv('data/out_default_articles_complete_clean.csv', sep=";", header=0)
df_categories = pd.read_csv('data/out_default_categories_clean.csv', sep=";", header=0)

In [2]:
# Clear orders.
df_orders.drop(labels=['orderStatusID', 'clearedDate', 'cleared', 'currency', 'articleName', 'articleId'], axis=1, inplace=True)
df_orders = df_orders[(df_orders.number != -0) & (df_orders.shopId == 1)]
df_orders.referer = df_orders.referer.fillna('')
# print(df_orders.head(1))

In [3]:
df_categories.drop(labels=['metakeywords', 'metadescription'], axis=1, inplace=True)
df_categories = df_categories[df_categories.active != 0]
# print(df_categories.head(1))

In [4]:
# Clear articles.
df_articles.drop(labels=['name'], axis=1, inplace=True)
df_articles.rename(columns = {'ordernumber' : 'articleId','categories' : 'categoryId'}, inplace = True)
df_articles = df_articles[df_articles.active != 0]
df_articles[['shippingtime', 'keywords']] = df_articles[['shippingtime','keywords']].fillna('')
df_articles['shippingtime'] = df_articles['shippingtime'].str.replace('Tage','')
df_articles['shippingtime'] = df_articles['shippingtime'].str.replace(' ','')
# print(df_articles.head(50))

In [5]:
df_articles = pd.merge(df_articles, df_categories, on = 'categoryId', how = 'outer')
df_articles.drop(labels=['active_x', 'active_y', 'parentID'], axis=1, inplace=True)
df_articles.rename(columns = {'price_EK' : 'price','description' : 'category'}, inplace = True)
# df_articles['topseller'] = df_articles['topseller'].astype(int)
# display(df_articles.dtypes)
# print(df_articles.head(60))

articleId        object
tax             float64
price            object
shippingtime     object
shippingfree    float64
topseller       float64
keywords         object
categoryId        int64
category         object
dtype: object

In [7]:
df_articles[['topseller', 'shippingfree']] = df_articles[['topseller', 'shippingfree']].fillna(0.0)
df_articles['topseller'] = df_articles['topseller'].apply(np.int64)
df_articles['shippingfree'] = df_articles['shippingfree'].apply(np.int64)
# display(df_articles.dtypes)
# print(df_articles.head(1))

articleId        object
tax             float64
price            object
shippingtime     object
shippingfree      int64
topseller         int64
keywords         object
categoryId        int64
category         object
dtype: object

   articleId  tax  price shippingtime  shippingfree  topseller  \
0      85803  7.0   17,9          5-8             0          0
1      85840  7.0  14,95          2-3             0          1
2      85841  7.0  14,95          2-3             0          0
3      85832  7.0  17,95          2-3             0          1
4      85822  7.0  14,95          2-3             0          0
5      85754  7.0   12,9          2-3             0          0
6      85749  7.0   12,9          2-3             0          0
7      85730  7.0   12,9          2-3             0          0
8      85846  7.0  14,95          2-3             0          0
9      85856  7.0  14,95          2-3             0          0
10     85858  7.0  24,95          2-3             0          0
11     85795  7.0   12,9          2-3             0          0
12     85831  7.0  12,95          2-3             0          0
13     85766  7.0    9,9          2-3             0          0
14     85813  7.0  14,95          2-3             0          0
15     85758  7.0      3          2-3             0          0
16     85756  7.0      5          2-3             0          0
17     85737  7.0   12,9          2-3             0          0
18     85726  7.0   12,9          2-3             0          0
19     85742  7.0    9,9          2-3             0          0

                                             keywords  categoryId  \
0   Sterben war ihr täglich Brot, Testpiloten, Buc...          26
1     Stasi, RAF, DDR, Frank Wilhelm, Nordkurier, MfS          26
2   Nachkriegszeit, Zweiter Weltkrieg, Mecklenburg...          26
3          Russland, Moskau, Tagebuch, Carsten Gansel          26
4                           Flucht, Vertreibung, 1945          26
5   DDR, Flucht aus der DDR, Mauerbau, wahre Begeb...          26
6   1945, Mecklenburg-Vorpommern, Zeitzeugenberich...          26
7   Zeitgeschehen, 1945, Zeitzeugenberichte, Krieg...          26
8   Frank Wilhelm, Birgit Langkabel, Zeitzeugen, K...          26
9   Frank Wilhelm, Birgit Langkabel, Zeitzeugen, K...          26
10  Frank Wilhelm, Neubrandenburg, Zeitzeugen, Kri...          26
11  Kriminalakte Vermisst,  Auf der Suche nach Wah...          44
12  Kriminalfälle, Krimi, Deutschland, Ermittlunge...          44
13  Neubrandenburg, Skelett, Neubrandenburger Skel...          44
14  Nutztiere, Nutztierrassen, aussterbende Nutzti...          44
15                                                             44
16  Wasserturm, Uckermark, Prenzlau, Prenzlauer Wa...          44
17                                                             44
18                                                             44
19  Fußball, Knabenturnier , Neubrandenburg, Fußba...          44

         category
0   Zeitgeschehen
1   Zeitgeschehen
2   Zeitgeschehen
3   Zeitgeschehen
4   Zeitgeschehen
5   Zeitgeschehen
6   Zeitgeschehen
7   Zeitgeschehen
8   Zeitgeschehen
9   Zeitgeschehen
10  Zeitgeschehen
11     Regionales
12     Regionales
13     Regionales
14     Regionales
15     Regionales
16     Regionales
17     Regionales
18     Regionales
19     Regionales